<header>
  <h1 class="appTitle">Hangman</h1>
  <div class="optionsContainer">
    <button (click)="resetGame()">New Game</button>
  </div>
</header>

<div id="wrapper">
  <p id="wordDisplay" class="subTitle">
    <span class="hidden" *ngFor="let letter of targetWord">{{ letter }}</span>
  </p>

  <p class="subTitle">Tries Remaining: {{ remainingTries }} of 5</p>

  <p class="subTitle">Letters Already Tried:</p>

  <p id="triesDisplay" class="subTitle">
    <span *ngFor="let guess of pastGuesses">{{ guess }}</span>
  </p>

  <input
    type="text"
    [disabled]="remainingTries < 1 || lettersRemaining == 0"
    placeholder="Enter your guess here"
    autofocus
    (keyup)="processGuess($event)"
  />
</div>
<router-outlet></router-outlet>
